/* ============ */
/* General */
/* ============ */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(15, 15, 15);
}

/* ============ */
/* Containers */
/* ============ */

.container {
    display: flex;
    width: 180vh; 
    height: 100vh;
    margin: 0 auto;
}

.background-img-container {
    background-color: red;
    position: relative;
    display: flex;
    justify-content: stretch;
    overflow: hidden;
    
}

.background-text {
    display: flex;
    justify-content: center;
    position: absolute;
    flex-basis: 100%;
    width: 100%;
    height: 20%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.377);
}

.background-text > * {
    padding: 1rem;
}


.flexbox-container {
    background-color: blue;
    display: flex;
    flex-direction: column;
    flex: 2 1 66%;
    justify-content: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 245, 245);
    flex: 1 1 35%;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 4rem 6rem 4rem 2rem;
}

.text-container span {
    font-size: 1.5rem;
    font-weight: bold;
}

.text-container span:nth-child(3) {
    margin-top: 2rem;
}

.form-container {
    background-color: rgb(255, 255, 255);
    flex: 1 1 30%;
    padding: 2rem;
    box-shadow: -12px -7px 20px 0px rgb(0 0 0 / 20%);
}

.btn-container {
    display:flex;
    flex-direction: column;
    background-color: rgb(250, 245, 245);
    flex: 1 1 35%;
    padding: 2rem;
}

.btn-container span {
    margin-top: 1rem;
}

.input-container {
    display: flex;
    margin-top: 1rem;
}

.label-alignment-container {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
}

/* ============ */
/* Images */
/* ============ */

.background-img {
    /* width:100%;
    height: auto; */
    transform: scale(1.2);
    object-fit: cover;
    
}

.odin-logo {
    max-width:75%;
    max-height: 75%;
}

/* ============ */
/* Text */
/* ============ */

.odin-text {
    font-size: 6rem;
    font-family: 'Shadows Into Light', cursive;
}

.btn-container a {
    text-decoration: none;
}

.form-container span {
    font-size: 1.5rem;
    font-weight: bold;
}

.form-container label {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(39, 38, 38);
    letter-spacing: .1rem;
    font-size: .7rem;
    margin-bottom: .2rem;
}

.btn-container span {
    font-family: Arial, Helvetica, sans-serif;
}

.btn-container a {
    color: darkolivegreen;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* ============ */
/* Button */
/* ============ */

.btn {
    width: 12rem;
    height: 2.5rem;
    background-color: darkolivegreen;
    border: none;
    color: white;
    border-radius: 9px;
    font-size: 1rem;
    font-weight: bold;
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: rgb(119, 145, 71);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}